<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img class="logo" src="../../../../assets/header/podologia-Legazpi.svg" alt="podología legazpi" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tratamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Equipo profesional</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Asociaciones deportivas</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
      <div class="container-rrss">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
</nav>
