<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Opiniones</h2>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner bloq-coment">
              <div class="carousel-item active">
                <div class="dflex">
                  <div class="col-4 box">
                      <img src="../../../../assets/testimonial.png" alt="">
                      <h5>Muy recomendable</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Muy recomendable voy a fisioterapia y a podología con ellos, además de un servicio muy profesional son muy agradables.</p>
                      <p class="asignature">Miriam Martinez</p>
                  </div>
                  <div class="col-4 box marginBox">
                      <img src="../../../../assets/testimonial.png" alt="">
                      <h5>Me ha gustado mucho</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Me ha gustado mucho atenderme con  la fisioterapeuta Raquel muy completa cada sesión muy buena profesional  y muy maja la recomiendo 100% muchas gracias!</p>                    
                      <p class="asignature">Yanina Castillo</p>
                  </div>
                  <div class="col-4 box">
                      <img src="../../../../assets/testimonial.png" alt="">
                      <h5>Me trataron genial</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Me trataron genial. Todo el personal es muy majo, especialmente los doctores. Si vas con cita te atienden muy rápido porque tienen varias consultas y no se les forma cola. El precio es bastante económico para tratarse de Madrid.</p>
                      <p class="asignature">Manuel Montes</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="dflex">
                    <div class="col-4 box">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Muy contento</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Me han hecho unas plantillas y estoy muy contenta ya no me duelen los pies y la espalda como antes</p>
                        <p class="asignature">Luis Suarez Alonso</p>
                    </div>
                    <div class="col-4 box marginBox">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Me encantó</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Me encantó, me curaron la planta del pie pues tenía un pinchazo,  y como entraba en el precio, me cortaron uñas, rasparon  durezas, etc.... Y todo por 25 euros, genial.</p>                    
                        <p class="asignature">jose luis navarrete ortiz</p>
                    </div>
                    <div class="col-4 box">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Muy profesioanles</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>La podóloga que me atendió muy profesional y super simpática, totalmente recomendable.</p>
                        <p class="asignature">Sierri .</p>
                    </div>
                </div>    
              </div>
              <div class="carousel-item">
                <div class="dflex">
                    <div class="col-4 box">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Todo genial</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Llevé a mi madre y todo genial. Salió enamorada de Jose!!</p>
                        <p class="asignature">Rodri Pastrana</p>
                    </div>
                    <div class="col-4 box marginBox">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Atentos y profesionales</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Muy atentos y profesionales</p>                    
                        <p class="asignature">Jessica T.</p>
                    </div>
                    <div class="col-4 box">
                        <img src="../../../../assets/testimonial.png" alt="">
                        <h5>Muy buenos profesionales</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Muy buenos profesionales. Serios y puntuales. La fisio que me atendió, Sandra, muy buena persona y muy buen precio</p>
                        <p class="asignature">José Luis Marrero</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

