<section class="container blq-tratamientos">
    <div class="row">
        <div class="col-12">
            <h2>Tratamientos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>Estudio de la pisada</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>Electrolisis</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>Diagnóstico Ecográfico</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
    </div>
    <div class="row blq-tratamientos">
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>Fisioterapia infantil</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>cirugía</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="circle">
                <img src="../../../../assets/single-product-10.png" alt="" class="img1">
                <img src="../../../../assets/single-product-11.png" alt="" class="img2">
            </div>
            <h4>Reconstrucción de uñas</h4>
            <p>Proin ac orci vel dui rhoncus
                dignissim. Vivamus purus,
                efficitur at mollis
            </p>
        </div>
    </div>
</section>
