<section class=" container sectionServices">
    <div class="row">
        <div class="col-12">
                <h2>Pódologos y fisioterapia 
                    <br> Legazpi</h2>
                <p class="subServices">Contamos con un equipo diplomados por la Universidad 
                    <br> con larga experiencia en el tratamiento de las patologías musculares y del pie.
                </p> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <a href="#">
                <img src="../../../../assets/services/fisioterapia.jpg" alt="">
                <h3>Podología</h3> 
            </a>
            <p>The designers worked with a stainless steel netting of 
                two by two centimetre squares to create the daybeds, 
                which they describe as looking like a curled up mattress 
                or a sheet of paper.
            </p>
            <a href="#" class="btn">
                <p>Saber más</p> 
            </a>
        </div>
        <div class="col-sm-12 col-lg-6">
            <a href="#">
                <img src="../../../../assets/services/podologia_fisioterapia_Legazpi_Madrid_fisioterapia_2.jpg" alt="">
                <h3>fisioterapia</h3>
            </a>
            <p>The designers worked with a stainless steel netting of 
                two by two centimetre squares to create the daybeds, 
                which they describe as looking like a curled up mattress
                or a sheet of paper.
            </p>
            <a href="#" class="btn">
                <p>Saber más</p> 
            </a>
        </div>
    </div>
</section>
