<footer class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img class="logo" src="../../../../assets/footer/logoWhite.png" alt="podología legazpi" srcset="">
            <address>Paseo de las Delicicas, 124, Bajo - Madrid</address>
            <p>28045 (Madrid)</p>
            <p>Telefono: <a href="tel:+34914730661"class="btn">91 473 06 61</a></p>
            <p>www.podologoslegazpi.es</p>
            <div>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="row copyRight">
        <div class="col-12">
            <p>2019 &#169; Creative Project Madrid</p>
        </div>
    </div>
</footer>
